*{
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    height: 80px; /* Altura deseada del encabezado */
    background-color: white;

}

nav {
    margin-left: auto;
    font-family: "Protest Strike", sans-serif;
    font-style: normal;
    font-size: 25px;
    height: 100%; /* Ajustar el tamaño del nav al 100% de la altura del encabezado */
}

nav li {
    margin-right: 50px;
    border-left: 1px solid black;
    padding: 0 10px;
    height: 100%; /* Ajustar el tamaño de los elementos li al 100% de la altura de la lista */
    display: flex;
    align-items: center;
}
.logoPagina{
    display: flex;
    text-decoration: none;
    align-items: center;
    margin: 10px;
}
.nombreSitio {
    margin-left: 10px;
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    justify-content: center;
    color: white;
    -webkit-text-stroke-width: 2px; /* Ancho del contorno */
    -webkit-text-stroke-color: black; /* Color del contorno */
}
.logo{
    width: 90px; 
}

ul {
    display: flex;
    align-items: center;
    height: 100%; /* Ajustar el tamaño de la lista al 100% de la altura del nav */
    margin: 0;
    padding: 0;
}
li a{
    margin-right: 10px;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: black; /* Cambia el color del texto de los enlaces */
}

footer{
    display: flex;
}

footer a{
    text-decoration: none; 
    color: black; 
    margin: 20px;
}
/* --- INDEX --- */

.imagenPortada{
    width: 100%;
}

.imagenPortada img{
    width: 100%;
    height: auto;
}

/* --- GALERIA --- */

.categorias {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 300px);
    grid-template-areas: /*Debe ajustarse a la cantidad de filas y columnas declaradas */
        "img1 img1"
        "img2 img3"
        "img4 img4"
        "img5 img6"; 
        grid-gap: 20px; /* Espacio entre las tarjetas */
}

.categoria1 {
    grid-area: img1;
}

.categoria4 {
    grid-area: img4;
}

.categoria {
    display: flex; /* Usa flexbox para alinear contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    flex-direction: column; /* Alinea los elementos en una columna */
    background-color: #f0f0f0; /* Color de fondo de las tarjetas */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    overflow: hidden; /* Oculta cualquier contenido que desborde */
    width: auto; /* Ajusta el ancho del contenedor */
    height: auto; /* Ajusta el alto del contenedor */
    background-image: url('https://wallpapercave.com/wp/JoFTfPX.jpg');
}

.categoria img{
    width: 100%;
    height: 100%;/*SS [Se corta la imagen]: Ajustando la imagen a la altura del contenedor*/
    object-fit: contain; /* Ajusta la imagen manteniendo su relación de aspecto original */
    margin-bottom: 50px;
}

.categoria h2{
    font-family: "Protest Strike", sans-serif;
    font-style: normal;
    color: white;
    -webkit-text-stroke-width: 1px; /* Ancho del contorno */
    -webkit-text-stroke-color: black; /* Color del contorno */
    font-size: 30px;
    text-align: center; /* Centra el texto */
    margin: 0; /* Elimina el margen por defecto del título */
    text-overflow: ellipsis; /* Agrega puntos suspensivos si el texto es demasiado largo */
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
    margin-top: 60px; /*** Buscar otra forma de evitar que el titulo se corte ***/
    margin-bottom: 10px;
}
/* --- REGLAS --- */

/* --- NOSOTROS --- */

/* --- CONTACTO --- */

.formulario {
    display: flex;
    justify-content: center; /* Para centrar horizontalmente */
    align-items: center; /* Para centrar verticalmente */
    height: auto;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
.formulario h1{
    padding: 20px;
    font-family: "Protest Strike", sans-serif;
    font-style: normal;
    font-size: 45px;
}
form{
    width: 50%; /* Ancho del formulario */
    max-width: 500px; /* Ancho máximo del formulario */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-sizing: border-box; /* Ajusta el ancho y alto del formulario para incluir bordes y rellenos */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Sombras con desplazamiento horizontal y vertical de 0px, desenfoque de 10px y color negro con opacidad de 0.5 */
    display: flex;
    flex-direction: column; /* Alinear los elementos del formulario en una columna */
    justify-content: center; /* Para centrar horizontalmente */
    align-items: center; /* Para centrar verticalmente */
}

